
<!DOCTYPE html>
<html>

	<head>
		<title>
			page dashboard
		</title>
		<meta charset='utf-8' />

		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav//favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav//favicon-16x16.png">
<link rel="manifest" href="/fav//site.webmanifest">
<link rel="mask-icon" href="/fav//safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

		{{!-- <link href='css/normalize.css' rel='stylesheet' />
		 --}}
		
<link href='css/dashboard.css' rel='stylesheet' />		

	</head>

	<body>

	
		<div class="page page--dashboard">
            <asaid class="page__aside aside vertical vertical--big">
                <div class="text aside__logo">Sidebar</div>
                <nav class="vertical vertical--small">
                    <a href="#" class="nav-button nav-button--active click">
                        <span class="icon nav-button__icon" style="background-image:url('/svg/home.svg')"></span>
                        <span class="text text--light">Home</span>
                    </a>
                    <a href="#" class="nav-button nav-button--active-2 click">
                        <span class="icon nav-button__icon" style="background-image:url('/svg/table.svg')"></span>
                        <span class="text text--light">Orders</span>
                    </a>
                    <a href="#" class="nav-button nav-button--active-2 click">
                        <span class="icon nav-button__icon" style="background-image:url('/svg/grid.svg')"></span>
                        <span class="text text--light">Products</span>
                    </a>
               
                </nav>
            </asaid>
            <header class="header">
                <div class="layout header__content text--small">
                    <div class="header__search relative">
                     <input type="text" placeholder="Search"  class="text field  field--header" >
                     <span class="icon header__icon-search" style="background-image:url('/svg/header/search.svg')"></span>
                     <span class="icon icon--header-settings icon--button icon--color-blue click" style="background-image:url('/svg/header/settings.svg')"></span>
                    </div>
        <div class="header__content-transition">
           <span class="icon icon--header-transition icon--button icon--color-yellow-light click" style="background-image:url('/svg/header/signal.svg')"></span> 
           <span class="icon icon--header-transition icon--button icon--color-blue-light click" style="background-image:url('/svg/header/translate.svg')"></span>
           <span class="icon icon--header-transition icon--button icon--color-yellow-light click" style="background-image:url('/svg/header/bell.svg')"></span>
        </div>

                </div>
            </header>

            <main class="main">
                <div class="layout">
               <section class="box analytic__block">

       <div class="analytic analytic--duble analytic--blue">
      <span class="icon analytic__button icon--button icon--color-blue click" style="background-image:url('/svg/analytic/vector.svg')"></span>
      <div class="relative vertical vertical--small">
        <div class="analytic__title text text--light">$961</div>
         <div class="analytic__info text text--small text--laighter ">Total Order</div>
           <span class="icon analytic__arrow icon--button icon--color-blue click" style="background-image:url('/svg/analytic/blue-arrow.svg')"></span>
      </div>
</div>

<div class="analytic analytic--duble analytic--primary">
    <span class="icon analytic__button icon--button icon--color-primary click" style="background-image:url('/svg/analytic/order.svg')"></span>
      <div class="relative vertical vertical--small">
        <div class="analytic__title text text--light">$500.00</div>
         <div class="analytic__info text text--small text--laighter ">Total earning</div>
           <span class="icon analytic__arrow icon--button icon--color-primary click" style="background-image:url('/svg/analytic/blue-arrow.svg')"></span>
      </div>

      
</div>
{{!-- <div class="analytic--duble  vertical vertical--big "> --}}
<div class="analytic analytic--half analytic--blue analytic--small-blue">
    <span class="icon analytic__button icon--button icon--color-blue click" style="background-image:url('/svg/analytic/order.svg')"></span>
      <div class="relative vertical vertical--small-duble">
        <div class="analytic__title-small text text--light">$203k</div>
         <div class="analytic__info text text--small text--laighter ">Total Income</div>
      </div>
</div>

<div class="analytic analytic--half-duble  analytic--small">
    <span class="icon analytic__button icon--button icon--color-yellow-light click" style="background-image:url('/svg/analytic/shopp.svg')"></span>
      <div class="relative vertical vertical--small-duble">
        <div class="analytic__title-small text text--black">$203k</div>
         <div class="analytic__info text text--small text--gray  ">Total Income</div>
      </div>
      </div>
{{!-- </div> --}}

</section>
 <section class="main__double">

<div class="purchaselist vertical text text--heading-small" >
 <div class="text__purchaselist">Purchase list</div>
<div class="divider"> </div>
<div class="vertical vertical--small purchaselist__info">
  <div class="purchaselist__info">
<p class="text purchaselist__info-text">ID437661</p>
<p class="text purchaselist__info-text">May 11, 2023, 14:21</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text">AirOn ProCam</p>
<p class="text purchaselist__info-text">7/8 USB Type-C</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text">132.32 EUR</p>
<p class="text purchaselist__info-text color-red">Not paid</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text ">Customer</p>
<p class="text purchaselist__info-text">robin@com.de</p>
</div>
</div>
 <div class="divider"> </div>
 <div class="vertical vertical--small purchaselist__info">
  <div class="purchaselist__info">
<p class="text purchaselist__info-text">ID437661</p>
<p class="text purchaselist__info-text">May 11, 2023, 14:21</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text">PHILIPS Essential</p>
<p class="text purchaselist__info-text">HD9200/90</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text">543 USD</p>
<p class="text purchaselist__info-text color-green">Pay by  Stripe</p>
</div>
<div class="purchaselist__info">
<p class="text purchaselist__info-text ">Customer</p>
<p class="text purchaselist__info-text">dima@com.ua</p>
</div>
</div>
               
 </div>
 <div class="payment vertical text text--heading-small">
 <div class="text__payment">Payment</div>
 <div class="divider divider--double"> </div>
  <div class="form_rediobox" >              
<div> <input type="radio" id="Credit card" name="Credit card" value="Credit card"
             checked>
 <label class="text" for="Credit card">Credit card</label>
 </div>
<div ><input type="radio" id="Debit card" name="Debit card" value="Debit card"
             >
<label class="text" for="Debit card">Debit card</label>
</div>
<div ><input type="radio" id="PayPal" name="PayPal" value="PayPal"
             >
<label for="PayPal">PayPal</label>
</div>
</div>

<div class="card--block">
 <div class="card ">
  <label for="Name on card">Name on card</label>
 
   <input class="field--select-height" type="Name on card" id="Name on card"> 
  
</div>
 <div class="card">
<label for="Credit card number">Credit card number</label>
  
<input class=" field--select-height " type="Credit card number" id="Credit card number"> 
                  
</div>
<div class="card">
<label for="Expiration">Expiration</label>
  
<input class=" field--select-height" type="Expiration" id="Expiration"> 
                 
</div>
 <div class="card">
 <label for="CVV">CVV</label>
  
<input class="field--select-height" type="CVV" id="CVV"> 
              
</div>
</div>

 <div class="divider divider--double"> </div>

 <div class="card--block ">
  
 <div class="relative click">
 <div class="card ">
<label for="CVV">Country</label>
<select class="field--select-height text" name="Country" id="Country">
<option  value="Choose...">Choose...</option>
</select>
</div>
</div>
 <div class="relative click">
<div class="card ">
<label for="CVV">State</label> 
<select class="field--select-height text" name="Country" id="Country">
<option  value="Choose...">Choose...</option>
</select>
</div>
</div>
 </div>

  <div class="divider divider--double"> </div>

 <button type="submit" class="form_button text text-white click">Continue to checkout</button>

   </div>
 </section>     
</div>

</main>

		</div>

	</body>

</html>

  
